server:
  port: 8080
  servlet:
    context-path: /nowcoder


spring:
  application:
    #应用的名称，可选
    name: nowcoder
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/nowcoder?serverTimezone=UTC
      username: ENC(2ZCNq9d4NusaBLjr2231XYDI69FpgJzh)
      password: ENC(56aoTWjYE1TtAGKyUai60YK2nCQvHTL9)
  thymeleaf:
    cache: false
  mail:
    host: smtp.163.com
    port: 465
    username: ENC(gbkCvVo3r2pPqWqX69eaWsay+kldQDfFTJ2xijQzb0UnbzE1jyjGBA==)
    password: ENC(wMi0grVHa7qTboorvWYj9jB4FArMkUcLhi5I8pTnCmutJvROnlx+sw==)
    protocol: smtps
    properties: #在发送邮件的时候采用ssl安全连接
      mail:
        smtp:
          ssl:
            enable: true

mybatis:
  #设置type搜索包的路径
  type-aliases-package: com.dida.nowcoder.entity
  #设置mapper的扫描
  mapper-locations: classpath:com/dida/nowcoder/mapper/*.xml

jasypt:
  encryptor:
    password: 123456
    algorithm: PBEWithMD5AndDES

