<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dida.nowcoder.dao.DiscussPostMapper">

    <resultMap id="discussPostMapper" type="discussPost">
        <result column="user_id" property="userId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="comment_count" property="commentCount"></result>
    </resultMap>

    <!--使用这种方式，而不是在查询当中使用select * 的区别
            使用select * 的方式在查询的过程当中，会有一个将 * 转换成所有字段的过程，这个过程需要时间
    -->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <delete id="deleteById">

    </delete>

    <select id="selectDiscussPost" resultMap="discussPostMapper">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="discussPost" keyProperty="id" useGeneratedKeys="true">
        insert into  discuss_post(<include refid="insertFields"></include>)
        values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>

    <select id="selectDiscussPostById" resultMap="discussPostMapper">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <update id="updateCommentCount">
        update discuss_post
        set comment_count = #{commentCount}
        where id = #{id}
    </update>

</mapper>